<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1>Edit note </h1>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${editedNote.getCategoryName()}"></h5>
                <p class="card-text"th:text="${editedNote.body}"></p>
                <p class="card-text"th:text="${editedNote.dateOfPost}"></p>
                <form action="#" th:action="@{/notes/edit/{id}(id=${editedNote.id})}" th:object="${editedNote}" method="post">
                    <p>Note: <input type="text" th:field="${editedNote.body}" /></p>

                <select class="form-select form-select-lg mb-md-3" th:field="${editedNote.category.name}">
                    <option value="">select category</option>
                    <option th:each="option : ${categories}" th:value="${option.name}" th:text="${option.name}"></option>
                </select>

                <p><input type="submit" value="Edit" /> </p>
                </form>
            </div>
        </div>
</body>
</html>