<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="card-body">
    <h5 class="card-title" th:text="${note.getCategoryName()}"></h5>
    <p class="card-text" th:text="${note.body}"></p>
    <p class="card-text" th:text="${note.dateOfPost}"></p>
    <a th:href="@{/notes/delete/{id}(id=${note.id})}" class="btn btn-danger" role="button">Delete</a><a th:href="@{/notes/edit/{id}(id=${note.id})}" class="btn btn-warning" role="button">Edit</a>
</div>

</body>
</html>